.message_send {
    position:relative;
    margin-right:2%;
    margin-top:1%;
    background-color:skyblue;
    color:whitesmoke;
    text-align:left;
    font-size:1.5em;
    float:right;
    max-width:45%;
    word-break: break-all;
    word-wrap:break-word;
    position:relative;
	border-radius:5px;
}

.message_get {
    position:relative;
    margin-left:2%;
    margin-top:1%;
    background-color:whitesmoke;
    color:black;
    text-align:left;
    font-size:1.5em;
    float:left;
    max-width:45%;
    word-break: break-all;
    word-wrap:break-word;
    position:relative;
	border-radius:5px;
}

.radius{
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.triangle{  
    height:0px;  
    width:0px;  
    border-width:20px;  
    border-style:solid;  
    border-color:green transparent transparent transparent;
}  

.left:before{
	position:absolute;
	content:"\00a0";
	width:0px;
	height:0px;
	border-width:8px 18px 8px 0;
	border-style:solid;
	border-color:transparent whitesmoke transparent transparent;
	top:15px;
	left:0px;
	float:left;
}
.right:before{
	position:absolute;
	content:"\00a0";
	display:inline-block;
	width:0px;
	height:0px;
	border-width:8px 0px 8px 18px;
	border-style:solid;
	border-color:transparent transparent transparent skyblue;
	right:2px;
	top:15px;
	float:right;		
}