<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8" />
        <title>
            约不约
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
        <link href="./staticfiles/css/bootstrap.min.css" rel="stylesheet" />
        <script type="text/javascript" src="./staticfiles/js/jquery.js">
        </script>
        <script type="text/javascript" src="./staticfiles/js/bootstrap.min.js" charset="UTF-8">
        </script>
    </head>
    
    <body style="font-family:'Microsoft YaHei'">
        <div class="container" style="width:100%;padding-left:5px;padding-right:5px;">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header navbar-static-top">
                    <a class="navbar-brand" href="#" style="font-size:2.5em">
                        约不约
                    </a>
                </div>
                <a class="navbar-brand navbar-right" href="#" style="font-size:1.5em">
                </a>
        <a class="navbar-brand navbar-right" href="#" style="font-size:1.5em">退出</a>
                <a class="navbar-brand navbar-right" href="#" style="font-size:1.5em">
                    <span class="glyphicon glyphicon-user">
                    </span>
                    个人中心
                </a>
                <a class="navbar-brand navbar-right" href="#" style="font-size:1.5em">
                    活动
                </a>
            </nav>
            <div class="row" style="width:100%;padding-left:5px;padding-right:5px;">
                <div class="col-lg-2 col-sm-2" style="padding-left:3%;background-color:skyblue;">
                    <ul class="nav nav-list">
                        <li class="nav-header">
                            个人中心
                        </li>
                        <li class="active">
                            <a href="#">
                                个人资料
                            </a>
                        </li>
                        <li>
                            <a href="./safe_center.html">
                                安全中心
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                我的活动
                            </a>
                        </li>
                        <li class="nav-header">
                            好友列表
                        </li>
                        <li>
                            <a href="#">
                                我的好友
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                我的群组
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                好友活动
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                群组活动
                            </a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">
                                帮助
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-7 col-lg-offset-1">
                <h2>
                    Events List
                </h2>
                    <div class="col-lg-7" id="20150731">
                        <h3 style="font-family:'Arial';text-align:center">
                            July 31th 2015 Thu.
                        </h3>
                    </div>
                    <div class="col-lg-10">
                        <div class="col-lg-1">
                            <ul class="list-group" data-view="list">
                                <h3>
                                    8:00
                                </h3>
                                <span class="period">
                                    <h4>
                                        AM
                                    </h4>
                                </span>
                            </ul>
                        </div>
                        <div class="col-lg-8 col-lg-offset-1 list-group">
                            <a href="#" class="list-group-item active">
                                <h4 class="list-group-item-heading">
                                    活动名称1
                                </h4>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    活动地点1
                                </h4>
                                <p class="list-group-item-text">
                                    活动简介1
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="col-lg-1">
                            <ul class="list-group" data-view="list">
                                <h3>
                                    10:00
                                </h3>
                                <span class="period">
                                    <h4>
                                        AM
                                    </h4>
                                </span>
                            </ul>
                        </div>
                        <div class="col-lg-8 col-lg-offset-1 list-group">
                            <a href="#" class="list-group-item active">
                                <h4 class="list-group-item-heading">
                                    活动名称2
                                </h4>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    活动地点2
                                </h4>
                                <p class="list-group-item-text">
                                    活动简介2
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>