{% include "header.html" %}         
            <div class="col-lg-7 col-sm-8">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#">活动介绍</a></li>
                    <li><a href="/activity/attendence/">参加人员</a></li>        
                </ul>
                <div style="top:10px">
                <blockquote>
                    <p></p>
                    <h2>{{activity.name}}</h2>
                    <p><h3>{{activity.status}}</h3></p>
                    <h4>目前报名人数： {{activity.current_size}}   /  {{activity.maxsize}}</h4>
                    <p></p>
                </blockquote>
                </div>
                    <div class="col-lg-11">
                        <div class="col-lg-3">
                        <h4>活动时间：</h4>
                        </div>
                        <div class="col-lg-7 col-lg-offset-1 list-group">
                            <h4>{{activtiy.start_time}}  ~  {{activity.end_time}}</h4>
                        </div>
                    </div>
                    <div class="col-lg-11">
                        <div class="col-lg-3">
                        <h4>活动地点：</h4>
                        </div>
                        <div class="col-lg-7 col-lg-offset-1 list-group">
                            <p><h4>{{activtiy.place}}</h4></p>
                        </div>
                    </div>
                    <div class="col-lg-11">
                        <div class="col-lg-3">
                        <h4>活动发起人：</h4>
                        </div>
                        <div class="col-lg-7 col-lg-offset-1 list-group">
                            <p><h4>{{activtiy.organizer}}</h4></p>
                        </div>
                    </div>
                    <div class="col-lg-11">
                        <div class="col-lg-3">
                        <h4>活动分类：</h4>
                        </div>
                        <div class="col-lg-7 col-lg-offset-1 list-group">
                            <p><h4>{{activtiy.type}}</h4></p>
                        </div>
                    </div>
                    <div class="col-lg-11">
                        <div class="col-lg-3">
                        <h4>活动简介：</h4>
                        </div>
                        <div class="col-lg-7 col-lg-offset-1 list-group">
                            <p><h4>{{activtiy.explanation}}</h4></p>
                        </div>
                    </div>
                    <div class="col-lg-11">
                        <div class="col-lg-3">
                        <h4>参与年龄限制：</h4>
                        </div>
                        <div class="col-lg-7 col-lg-offset-1 list-group">
                            <p><h4>{{activtiy.min_age}}  ~  {{acitvity.max_age}} 岁</h4></p>
                        </div>
                    </div>
                    <div class="col-lg-11">
                        <div class="col-lg-3">
                        <h4>参与性别限制：</h4>
                        </div>
                        <div class="col-lg-7 col-lg-offset-1 list-group">
                            <p><h4>{{activtiy.sex_requirement}}</h4></p>
                        </div>
                    </div>
                    <div class="col-lg-11">
                        <div class="col-lg-3">
                        <p><h4>报名截止时间：</h4></p>
                        </div>
                        <div class="col-lg-7 col-lg-offset-1 list-group">
                            <h4><p>{{activtiy.applyend_time}}</p></h4>
                        </div>
                    </div>
            </div>
            <div class="col-lg-2">
                {% if organizer %}
                <form role="form" method="post" action>
                    <h3>邀请好友</h3>
                    <div style="width:100%;height:500px;padding-right:20px;box-shadow:0px 0px 8px skyblue;overflow-y:auto">
                    {% for friend in friends %}
                    <div class="checkbox">
                        <label><input type="checkbox" name={{friend.id}} value="">{{friend.nickname}}</label>
                    </div>
                    {% endfor %}
                    </div>
                <button type="submit" class="btn btn-primary btn-block" style="position:relative;top:20px">发送邀请</button>
                {% endif %}
            </div>
{% include "footer.html" %}