{% include "header.html" %}
                <div class="col-lg-7 col-sm-8">
                	<ul class="nav nav-pills">
                    <li><a href="/activity_detail/">活动介绍</a></li>
                    <li class="active"><a href="#">参加人员</a></li>        
                </ul>
                <h2>{{activity.name}} 的 参加名单</h2>
                    {% for attendence in attendances %}
					<div class="col-lg-10">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-3 col-lg-offset-1 list-group">
                            <h3>{{attendance.name}}</h3>
                        </div>
                        {% if organizer %}
                        <div class="col-lg-1 col-lg-offset-1" style="top:10px">
                            <form role="form" method="post" action="">
                            <input type="hidden" name="attendance_id" value={{attendance.id}} />
                            <input type="hidden" name="form_type" value="cancel_attendance" />
                            <button type="submit" class="btn btn-md btn-danger pull-right" style="position:relative;top:4px">删除</button>
                            </form>
                        </div>
                        {% endif %}
 				    </div>
                    {% endfor %}
            </div>
{% include "footer.html" %}