{% include "header.html" %}                    
            <div class="col-lg-6 col-lg-offset-1 col-sm-7">
                <div class="row">
                    <table class="table table-hover" style="font-family:'Microsoft YaHei';font-size:1.7em">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>活动名称</td>
                                <td>{{activity.name}}</td>
                            </tr>
                            <tr>
                                <td>组织者</td>
                                <td>{{activity.organizer}}</td>
                            </tr>
                            <tr>
                                <td>发布时间</td>
                                <td>{{activity.post_time}}</td>
                            </tr>
                            <tr>
                                <td>活动开始</td>
                                <td>{{activity.start_time}}</td>
                            </tr>
                            <tr>
                                <td>活动结束</td>
                                <td>{{activity.end_time}}</td>
                            </tr>
                            <tr>
                                <td>活动地点</td>
                                <td>{{activity.place}}</td>
                            </tr>
                            <tr>
                                <td>年龄要求</td>
                                <td>{{activity.min_age}} 到 {{avctivity.max_age}}</td>
                            </tr>
                            <tr>
                                <td>性别要求</td>
                                <td>{{activity.sex_requirement}}</td>
                            </tr>
                            <tr>
                                <td>已报名人数/总人数</td>
                                <td>{{activity.current_size}}/{{activity.max_size}}</td>
                            </tr>
                            <tr>
                                <td>报名结束时间</td>
                                <td>{{activity.applyend_time}}</td>
                            </tr>
                            <tr>
                                <td>详细描述</td>
                                <td>{{activity.explanation}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <form class="form-horizontal" role="form" method="post" action="">
                        <div class="form-group">
                            <textarea class="form-control" style="height:140px;overflow-y:auto" name="apply_message" placeholder="报名留言"></textarea>
                            <button type="submit" class="btn btn-lg btn-danger pull-right" style="position:relative;top:4px">报名</button>
                        </div>
                    </form>

                </div>
            </div>
            <div class="col-lg-2 col-sm-3">
		    	<p>留着以后用=。=  还没时间做</p>
		    </div>

{% include "footer.html" %}