{% include "header.html" %}

            <div class="col-lg-7 col-sm-7">
                <form id="new_activity" class="form-horizontal" role="form" method="post"
                action="" onsubmit="return validate_form(this)" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2>
                        发起新活动
                    </h2>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">
                                活动名称：
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="name" {% if name %} placeholder="请输入活动名称" value="{{name}}" {% endif %}>
                                {% if errors.name %}
                                {{errors.name}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-inline">
                            <label for="dtp_input1" class="col-sm-2 control-label">
                                活动开始时间：
                            </label>
                            <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy/mm/dd"
                            data-link-field="dtp_input1" data-link-format="yyyy-mm-dd" style="float:left;margin: 0 10px 0 0;">
                                <input class="form-control" type="text" readonly="" name="start_date" {% if start_date %} value="{{start_date}}" {% endif %}
                                />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar">
                                    </span>
                                </span>
                            </div>
                            <div class="input-group date form_time col-md-3" data-date="" data-date-format="hh:ii"
                            data-link-field="dtp_input2" data-link-format="hh:ii">
                                <input class="form-control" size="16" type="text" readonly=""
                                name="start_time" {% if start_time %} value="{{start_time}}" {% endif %}/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time">
                                    </span>
                                </span>
                            </div>
                            <div class="col-sm-4 col-sm-offset-2">
                                {% if errors.start_time %}
                                {{errors.start_time}}
                                {% endif %}
                            </div>
                            <input type="hidden" id="dtp_input1" value="" />
                            <br />
                            <input type="hidden" id="dtp_input2" value="" />
                            <br />
                        </div>
                        <div class="form-inline">
                            <label for="dtp_input3" class="col-md-2 control-label">
                                活动结束时间：
                            </label>
                            <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy/mm/dd"
                            data-link-field="dtp_input3" data-link-format="yyyy-mm-dd" style="float:left;margin: 0 10px 0 0;">
                                <input class="form-control" type="text" readonly="" name="end_date"
                                {% if end_date %} value="{{end_date}}" {% endif %}/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar">
                                    </span>
                                </span>
                            </div>
                            <div class="input-group date form_time col-md-3" data-date="" data-date-format="hh:ii"
                            data-link-field="dtp_input4" data-link-format="hh:ii">
                                <input class="form-control" size="16" type="text" readonly=""
                                name="end_time" {% if end_time %} value="{{end_time}}" {% endif %} />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time">
                                    </span>
                                </span>
                            </div>
                            <div class="col-sm-4 col-sm-offset-2">
                                {% if errors.end_time %}
                                {{errors.end_time}}
                                {% endif %}
                            </div>
                            <input type="hidden" id="dtp_input3" value="" />
                            <br />
                            <input type="hidden" id="dtp_input4" value="" />
                            <br />
                        </div>
                        <div class="form-inline">
                            <label for="dtp_input5" class="col-sm-2 control-label">
                                报名截止时间：
                            </label>
                            <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy/mm/dd"
                            data-link-field="dtp_input5" data-link-format="yyyy-mm-dd" style="float:left;margin: 0 10px 0 0;">
                                <input class="form-control" type="text" readonly="" name="applyend_date" {% if applyend_date %} value="{{applyend_date}}" {% endif %}
                                />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar">
                                    </span>
                                </span>
                            </div>
                            <div class="input-group date form_time col-md-3" data-date="" data-date-format="hh:ii"
                            data-link-field="dtp_input6" data-link-format="hh:ii">
                                <input class="form-control" size="16" type="text" readonly=""
                                name="applyend_time" {% if applyend_time %} value="{{applyend_time}}" {% endif %} />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time">
                                    </span>
                                </span>
                            </div>
                            <div class="col-sm-4 col-sm-offset-2">
                                {% if errors.applyend_time %}
                                {{errors.applyend_time}}
                                {% endif %}
                            </div>
                            <input type="hidden" id="dtp_input5" value="" />
                            <br />
                            <input type="hidden" id="dtp_input6" value="" />
                            <br />
                        </div>
                        <div class="form-group">
                            <label for="place" class="col-sm-2 control-label">
                                活动地点：
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="place" placeholder="请输入活动地点" {% if place %} value="{{place}}" {% endif %}
                                />
                                {% if errors.place %}
                                {{errors.place}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="explanation" class="col-sm-2 control-label">
                                活动內容：
                            </label>
                            <div class="col-sm-8">
                                <textarea class="col-sm-8 form-control" rows="6" name="explanation" placeholder="请输入活动內容" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="act_cat" class="col-sm-2 control-label">
                                活动分类：
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" name="type">
                                    <option value="1">
                                        朋友聚会
                                    </option>
                                    <option value="2">
                                        运动活动
                                    </option>
                                    <option value="3">
                                        联谊活动
                                    </option>
                                    <option value="4">
                                        社会活动
                                    </option>
                                    <option value="5">
                                        学术活动
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="place" class="col-sm-2 control-label">
                                参与年龄：
                            </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="min_age" placeholder="最低年龄" {% if min_age %} value="{{min_age}}" {% endif %}
                                />
                                {% if errors.min_age %}
                                {{errors.min_age}}
                                {% endif %}
                            </div>
                            <div class="col-sm-1 text-center">
                                <b>~</b>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="max_age" placeholder="最高年龄" {% if max_age %} value="{{max_age}}" {% endif %}
                                />
                                {% if errors.max_age %}
                                {{errors.max_age}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sex_requirement" class="col-sm-2 control-label">
                                参与性别：
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" name="sex_requirement">
                                    <option value="unlimit">
                                        无性别限制
                                    </option>
                                    <option value="male">
                                        限男性
                                    </option>
                                    <option value="female">
                                        限女性
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="max_size" class="col-sm-2 control-label">
                                人数限制：
                            </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="max_size" {% if max_size %} placeholder="请输入人数限制" value="{{max_size}}" {% endif %}>
                                {% if errors.max_size %}
                                {{errors.max_size}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="status" class="col-sm-2 control-label">
                                活动状态：
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" name="status">
                                    <option value="open">
                                        开放报名
                                    </option>
                                    <option value="closed">
                                        不开放报名
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="upload" class="col-sm-2 control-label">
                                选择活动照片：
                            </label>
                            <div class="col-sm-9 form-inline">
                                <input id="group_picture" type="file" name="image">
                            </div>
                        </div>

                    <div class="form-group" style="padding-left:2%;padding-right:2%">
                        <label for="group_friend" class="col-sm-2 control-label">邀请好友：</label>
                        <div class="col-sm-8" style="border-radius:4px;border:1px solid #ccc;overflow-y:auto;overflow-x:none;height:180px">
                        {% for friend in friends %}
                            <div class="checkbox" style="float:left;width:33%;">
                                <label><input type="checkbox" name= "add_friend_to_activity_{{friend.id}}" value="">{{friend.nickname}}</label>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="form-inline">
                    <button type="button" onclick="checkall()" class="btn btn-sm btn-default col-sm-offset-2">全选</button>
                    <button type="button" onclick="cancelall()" class="btn btn-sm btn-default">取消</button>
                    </div>

                        <div class="form-inline" style="float:right;margin-right:17%;margin-top:8px;">
                            <button type="submit" class="btn btn-primary btn-lg">
                                送出
                            </button>
                            <button type="reset" class="btn btn-danger btn-lg" style="margin-left:15px">
                                重设
                            </button>
                        </div>
                </form>
            </div>
            <script>
                $('.form_date').datetimepicker({
                    weekStart: 1,
                    todayBtn: 1,
                    autoclose: 1,
                    todayHighlight: 1,
                    startView: 2,
                    minView: 2,
                    forceParse: 0
                });
                $('.form_time').datetimepicker({
                    weekStart: 1,
                    todayBtn: 1,
                    autoclose: 1,
                    todayHighlight: 1,
                    startView: 1,
                    minView: 0,
                    maxView: 1,
                    forceParse: 0
                });
            </script>
            <script type="text/javascript">
                function checkall() {
                    var my_checkbox = document.getElementsByTagName("input");
                    for (var i = 0; i < my_checkbox.length; i++) {
                        if (my_checkbox[i].type == "checkbox") {
                            my_checkbox[i].checked = true;
                        }
                    }
                };
                function cancelall() {
                    var my_checkbox = document.getElementsByTagName("input");
                    for (var i = 0; i < my_checkbox.length; i++) {
                        if (my_checkbox[i].type == "checkbox") {
                            my_checkbox[i].checked = false;
                        }
                    }
                };
    </script>
{% include "footer.html" %}