{% include "header.html" %}

            <div class="col-lg-7 col-lg-offset-1">
                <h2>活动列表</h2>

                <form class="form-horizontal" action="" method="post">
                    <input type="hidden" name="form_type" value="search" />
                    <div class="form-group">
                        <label class="col-sm-2 control-label">类&nbsp;&nbsp;&nbsp;&nbsp;型:</label>
                        <div class="col-sm-10">
                            <label class="checkbox-inline"><input type="checkbox" name="all_type" checked/>全部</label>
                            <label class="checkbox-inline"><input type="checkbox" name="1" />朋友聚会</label>
                            <label class="checkbox-inline"><input type="checkbox" name="2" />运动活动</label>
                            <label class="checkbox-inline"><input type="checkbox" name="3" />联谊活动</label>
                            <label class="checkbox-inline"><input type="checkbox" name="4" />社会活动</label>
                            <label class="checkbox-inline"><input type="checkbox" name="5" />学术活动</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">时&nbsp;&nbsp;&nbsp;&nbsp;间:</label>
                        <div class="col-sm-10">
                            <label class="checkbox-inline"><input type="checkbox" name="all_time" checked/>全部</label>
                            <label class="checkbox-inline"><input type="checkbox" name="within_one_week" />一周内</label>
                            <label class="checkbox-inline"><input type="checkbox" name="within_one_month" />一个月内</label>
                            <label class="checkbox-inline"><input type="checkbox" name="within_three_months" />三个月内</label>
                            <label class="checkbox-inline"><input type="checkbox" name="within_half_year" />半年内</label>
                            <label class="checkbox-inline"><input type="checkbox" name="within_one_year" />一年内</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">关键字:</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" name="keywords" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-md btn-primary col-lg-offset-2">搜索</button>
                </form>

                <!--{% include "search_activity.html" %}-->
                
                    <div class="col-lg-10" style="top:15px">
                        {% for activity in activities %}
                        <div class="list-group" style="width:30%;position:relative;float:left;padding-right:5px;padding-left:5px">
                            <div style="width:100%;position:relative;float:left;">
                                <a href="/activity_detail/{{ activity.id }}/"><div>
                                    <img style="width:100%;height:250px;" src="/{{activity.picture}}"/>
                                </div></a>
                                <a href="/activity_detail/{{ activity.id }}/" class="list-group-item active">
                                    <h4 class="list-group-item-heading">{{activity.name}}</h4>
                                    <h5 class="list-group-item-heading">{{activity.start_time.year}}年{{activity.start_time.month}}月{{activity.start_time.day}}日 {{activity.start_time.hour}}:{% if activity.start_time.minute < 10 %}0{% endif %}{{activity.start_time.minute}}</h5>
                                </a>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">
                                        <span class="glyphicon glyphicon-map-marker" aria-hidden:true></span>{{activity.place}}</h4>
                                    <p class="list-group-item-text">{{activity.explanation}}</p>
                                </div>
                                {% if activity.status == "already_in" %}
                                     <button type="submit" class="btn btn-md pull-right disabled" style="position:relative;top:4px">已参加</button>
                                {% endif %}
                                {% if activity.status == "expired" %}
                                     <button type="submit" class="btn btn-md pull-right disabled" style="position:relative;top:4px">已过期</button>
                                {% endif %}
                                {% if activity.status == "available" %}
                                <form role="form" method="post" action="">
                                    <input type="hidden" name="activity_id" value={{activity.id}} />
                                    <input type="hidden" name="form_type" value="apply_activity" />
                                    <button type="submit" class="btn btn-md btn-danger pull-right" style="position:relative;top:4px">申请参加</button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
               </div>
{% include "footer.html" %}