{% include "header.html" %}
		<div class="col-lg-6 col-lg-offset-1 col-sm-7" style="padding:1% 25px 1% 5%;border:2px solid skyblue">
            <div class="col-lg-6 col-lg-offset-1 col-sm-8">
			    <form class="form-horizontal" role="form" method="post" action="/change_userinfo/" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                <label for="nickname" class="col-sm-2 control-label">昵称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="nickname" {% if nickname %} value="{{ nickname }}" {% endif %}>
                   {% if errors.nickname %}
                        {{errors.nickname}}
                   {% endif %}
                </div>
            </div>

            <div class="form-group">
                <label for="sex" class="col-sm-2 control-label">性别</label>
                <div class="col-sm-10">
                    <label class="checkbox-inline">
                       <input type="radio" name="sex" id="male"
                           value="male" checked> 男
                    </label>
                    <label class="checkbox-inline">
                       <input type="radio" name="sex" id="female"
                           value="female"> 女
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="age" class="col-sm-2 control-label">年龄</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="age" {% if age %} value="{{ age }}" {% endif %}>
                   {% if errors.age %}
                        {{errors.age}}
                   {% endif %}
                </div>
            </div>

            <div class="form-group">
                <label for="tel" class="col-sm-2 control-label">手机</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="phone" {% if phone %} value="{{ phone }}" {% endif %}>
                   {% if errors.phone %}
                        {{errors.phone}}
                   {% endif %}
                </div>
            </div>

            <div class="form-group">
                <label for="tel" class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="email" {% if email %} value="{{ email }}" {% endif %}>
                   {% if errors.email %}
                        {{errors.email}}
                   {% endif %}
                </div>
            </div>

            <div class="form-group">
                <label for="tel" class="col-sm-2 control-label">兴趣</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="interest" {% if interest %} value="{{ interest }}" {% endif %}>
                   {% if errors.interest %}
                        {{errors.interest}}
                   {% endif %}
                </div>

                        <!--<label for="tel" class="col-sm-2 control-label">    </label>
                        <div class="col-sm-10">
                            <label class="checkbox-inline">
                               <input type="checkbox" name="singing" 
                                   value="singing"> K歌
                            </label>
                            <label class="checkbox-inline">
                               <input type="checkbox" name="movie"
                                   value="movie"> 电影
                            </label>
                            <label class="checkbox-inline">
                               <input type="checkbox" name="bikeriding"
                                   value="bikeriding"> 骑车
                            </label>
                            <label class="checkbox-inline">
                               <input type="checkbox" name="bikeriding"
                                   value="bikeriding"> 骑车
                            </label>
                            <label class="checkbox-inline">
                               <input type="checkbox" name="swimming"
                                   value="swimming"> 游泳
                            </label>
                            <label class="checkbox-inline">
                               <input type="checkbox" name="eating"
                                   value="eating"> 吃吃吃
                            </label>
                        </div>
                        <label for="tel" class="col-sm-2 control-label">    </label>
                        <div class="col-sm-10">
                            <label class="checkbox-inline">
                               <input type="checkbox" name="singing" 
                                   value="singing"> K歌
                            </label>
                            <label class="checkbox-inline">
                               <input type="checkbox" name="movie"
                                   value="movie"> 电影
                            </label>
                            <label class="checkbox-inline">
                               <input type="checkbox" name="bikeriding"
                                   value="bikeriding"> 骑车
                            </label>
                            <label class="checkbox-inline">
                               <input type="checkbox" name="bikeriding"
                                   value="bikeriding"> 骑车
                            </label>
                            <label class="checkbox-inline">
                               <input type="checkbox" name="swimming"
                                   value="swimming"> 游泳
                            </label>
                            <label class="checkbox-inline">
                               <input type="checkbox" name="eating"
                                   value="eating"> 吃吃吃
                            </label>
                        </div>-->


                    </div>
                    <div class="form-group">
                            <label for="upload" class="col-sm-2 control-label">
                                头像
                            </label>
                            <div class="col-sm-9 form-inline">
                                <input id="id_image" type="file" name="image">
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="确定">
                        </div>
                    </div>
                </form>
                
            </div>
		</div>
		<div class="col-lg-3 col-sm-3">
			<p>留着以后用=。=  还没时间做</p>
		</div>
{% include "footer.html" %}