{% include "header.html" %}
                <div class="col-lg-7 col-lg-offset-1">
                <h2>朋友活动</h2>
                    <ul class="nav nav-pills"> 
                    <li><a href="/friend_activities/attend/">朋友参加的活动</a></li>
                    <li class="active"><a href="#">朋友发起的活动</a></li>      
                    </ul>

                    <div class="col-lg-10 input-group">
                        <form method="post" action="">
                            <div class="col-lg-10"  style="top:10px">
                            <input type="text" class="form-control" placeholder="搜索" name="search_word">               
                        </div>                            
                        <span class="input-group-btn" style="top:10px">
                            <button class="btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                        </form>
                    </div>
                {% for activity in friend_launch_activities %}
                    {% include "activity_item.html" %}
                {% endfor %}
                </div>
{% include "footer.html" %}