{% include "header.html" %}
                <div class="col-lg-7 col-lg-offset-1">
                <h2>朋友活动</h2>
                    <ul class="nav nav-pills"> 
                    <li><a href="/friend_activities/attend/">朋友参加的活动</a></li>
                    <li class="active"><a href="#">朋友发起的活动</a></li>      
                    </ul>

                    <div class="col-lg-10 input-group">
                        <form method="post" action="">
                            <div class="col-lg-10"  style="top:10px">
                            <input type="text" class="form-control" placeholder="搜索" name="search_word">               
                        </div>                            
                        <span class="input-group-btn" style="top:10px">
                            <button class="btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                        </form>
                    </div>
                {% for friend_launch_activity in friend_launch_activities %}
                    <div class="col-lg-10" style="top:15px">
                        <div class="col-lg-10 list-group">
                            <a href="#" class="list-group-item active">
                                <h4 class="list-group-item-heading">{{friend_launch_activity.name}}</h4>
                                <h5 class="list-group-item-heading">{{friend_launch_activity.start_time}}</h5>
                            </a>
                            <div class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    <span class="glyphicon glyphicon-map-marker" aria-hidden:true></span>{{friend_launch_activity.place}}</h4>
                                <p class="list-group-item-text">{{friend_launch_activity.explanation}}</p>
                            </div>
                            {% if activity_attend %}
                                 <button type="submit" class="btn btn-md pull-right disabled" style="position:relative;top:4px">已参加</button>
                            {% else %}
                            <form role="form" method="post" action="">
                                <input type="hidden" name="id" value={{activity.id}} />
                                <button type="submit" class="btn btn-md btn-danger pull-right" style="position:relative;top:4px">申请参加</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                </div>
{% include "footer.html" %}