<div class="col-lg-10" style="top:15px">
    <div class="col-lg-10 list-group">
        <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">{{group.name}}</h4>
        </a>
        <div class="list-group-item">
            <p class="list-group-item-heading">创建者：{{group.owner}}</p>
            <p class="list-group-item-text">{{group.explanation}}</p>
        </div>
        {% if group.attend %}
             <button type="" class="btn btn-md pull-right disabled" style="position:relative;top:4px">已加入</button>
        {% else %}
        <form role="form" method="post" action="/apply_group/">
            <input type="hidden" name="id" value={{group.id}} />
            <button type="submit" class="btn btn-md btn-danger pull-right" style="position:relative;top:4px">申请加入</button>
        </form>
        {% endif %}
    </div>
</div>