{% include "header.html" %}
                <div class="col-lg-7 col-lg-offset-1 col-sm-8">
                	<h2>{{group.name}}</h2>
                    <ul class="nav nav-pills">
   					<li><a href="/group/activities/">活动</a></li>
   					<li><a href="/group/member/">成员</a></li> 		
   					<li class="active"><a href="#">介绍</a></li>
					</ul>
                    <div class="col-lg-9">
                        <ul class="list-group" data-view="list">
                                <label class="col-md-3 control-label">
                                    当前群组人数：
                                </label>
                                <h3>{{group.current_size}} / {{group.max_size}} 人</h3>
                                <label class="col-md-3 control-label">
                                    群组拥有者：
                                </label>
                                <h3>{{group.owner}}</h3>
                                <label class="col-md-3 control-label">
                                    群组简介：
                                </label>
                                <h3>{{group.explanation}}</h3>
                            </ul>
                    </div>
            </div>
{% include "footer.html" %}