<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>约不约</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <link href="/staticfiles/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/staticfiles/js/jquery.js"></script>
    <link href="/staticfiles/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="/staticfiles/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/staticfiles/js/bootstrap.min.js" charset="UTF-8"></script>

</head>
<body style="font-family:'Microsoft YaHei'">
	<nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header navbar-static-top">
                <a class="navbar-brand" href="#" style="font-size:2.5em">
                    约不约
                </a>
            </div>
            <a class="navbar-brand navbar-right" href="#" style="font-size:1.5em">
            </a>
            <a class="navbar-brand navbar-right" href="#" style="font-size:1.5em">
                <span class="glyphicon glyphicon-user">
                </span>
                个人中心
            </a>
            <a class="navbar-brand navbar-right" href="#" style="font-size:1.5em">
                活动
            </a>
        </nav>
        <div class="container" style="width:100%;padding-left:5px;padding-right:5px;">
            <div class="row">
                <div class="col-lg-2 col-sm-2" style="padding-left:3%;background-color:skyblue;">
                    <ul class="nav nav-list">
                        <li class="nav-header">个人中心</li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="/safe_center.html">安全中心</a></li>
                        <li><a href="/activities/">我的活动</a></li>
                        <li class="nav-header">社交中心</li>
                        <li class="active"><a href="#">我的好友</a></li>
                        <li><a href="#">我的群组</a></li>
                        <li><a href="#">好友活动</a></li>
                        <li><a href="#">群组活动</a></li>
                        <li class="divider"></li>
                        <li class="nav-header">活动中心</li>
                        <li><a href="/add_activity/">发起活动</a></li>
                        <li><a href="#">搜索活动</a></li>
                        <li><a href="#">查看活动</a></li>
                        <li class="divider"></li>
                        <li><a href="#">帮助</a></li>
                    </ul>
                </div>
                <div class="col-lg-7 col-lg-offset-1 col-sm-8">
                	<h2>{{group_name}}</h2>
                	<ul class="nav nav-pills">
   					<li class="active"><a href="#">活动</a></li>
   					<li><a href="group_namelist.html">成员</a></li> 		
   					<li><a href="group_info.html">介绍</a></li>
					</ul>
					{% for group_activity in group_activity_list %}
                    <div class="col-lg-12">
                        <div class="col-lg-1">
                            <ul class="list-group" data-view="list">
                                <h5>{{group_activity.date}}</h5>
                                <h3>{{group_activity.time}}</h3>
                            </ul>
                        </div>
                        <div class="col-lg-9 col-lg-offset-1 list-group">
                            <a href="#" class="list-group-item active">
                                <h4 class="list-group-item-heading">{{group_activity.act_name}}</h4>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    <span class="glyphicon glyphicon-map-marker" aria-hidden:true></span>{{group_activity.act_loc}}</h4>
                                <p class="list-group-item-text">{{group_activity.act_content}}</p>
                            </a>
                        </div>
                    </div>
                {% endfor %}
 				</div>
            </div>
	
</body>
</html>