{% include "header.html" %}
                <div class="col-lg-7 col-lg-offset-1 col-sm-8">
                	<h2>{{group.name}}</h2>
                    <ul class="nav nav-pills">
   					<li><a href="/group_activities/{{ group.id }}/">活动</a></li>
   					<li><a href="/group_members/{{ group.id }}/">成员</a></li>
   					<li class="active"><a href="#">介绍</a></li>
                    <li><form role="form" method="post" action="">
                        <input type="hidden" name="lauch_group_activity" value={{}} />
                        <input type="hidden" name="form_type" value="launch_group_activity" />
                        <button type="submit" class="btn btn-md btn-danger pull-right" style="position:relative;top:4px">发起群组活动</button>
                    </form></li>
					</ul>
                    <table class="table table-hover" style="font-family:'Microsoft YaHei';font-size:1.7em">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>群组建立人</td>
                                <td>{{group.owner}}</td>
                            </tr>
                            <tr>
                                <td>群组创建日期</td>
                                <td>{{group.found_time}}</td>
                            </tr>
                            <tr>
                                <td>当前群组人数</td>
                                <td>{{group.current_size}} / {{group.max_size}} 人</td>
                            </tr>
                            <tr>
                                <td>群组简介</td>
                                <td>{{group.explanation}}</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
{% include "footer.html" %}