{% include "header.html" %}
                <div class="col-lg-7 col-lg-offset-1 col-sm-8">
                    <h2>我的群组</h2>
                    <ul class="nav nav-pills"> 
                    <li><a href="/my_group/attend/">我参加的群组</a></li>      
                    <li class="active"><a href="#">我创建的群组</a></li>
                    </ul>
                    <div class="col-lg-10 input-group">
                        <form method="post" action="">
                            <div class="col-lg-10" style="top:10px" >
                            <input type="text" class="form-control" placeholder="搜索" name="search_word">               
                        </div>                            
                        <span class="input-group-btn" style="top:10px">
                            <button class="btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                        </form>
                    </div>
                {% for my_create_group in my_create_groups %}
                    <div class="col-lg-10" style="top:15px">
                        <div class="col-lg-10 list-group">
                            <a href="#" class="list-group-item active">
                                <h4 class="list-group-item-heading">{{my_create_group.name}}</h4>
                            </a>
                            <div class="list-group-item">
                                <p class="list-group-item-text">{{my_create_group.explanation}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
{% include "footer.html" %}