{% include "header.html" %}
                <div class="col-lg-7 col-lg-offset-1 col-sm-8">
                	<h2>我的群组</h2>
                    {% for mygroup in mygroups %}
					<div class="col-lg-10">
                        <form name="send_back" role="form" method="post" action="">
                        <input type="hidden" name="group_id" value={{mygroup.id}}>
                        <a href="#" class="col-lg-3 col-lg-offset-1 list-group">
                            <span class="fa fa-group"></span>
                            <h3>{{mygroup.name}}</h3>
                        </a> 
                        </form>
 				    </div>
                    {% endfor %}
                </div>
{% include "footer.html" %}