{% include "header.html" %}
                <div class="col-lg-7 col-lg-offset-1 col-sm-8">
                	<h2>群组活动</h2>
					<div class="col-lg-10 input-group">
                        <form method="post" action="">
                            <div class="col-lg-10">
                            <input type="text" class="form-control" placeholder="搜索" name="search_word">               
                        </div>                            
                        <span class="input-group-btn">
                            <button class="btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                        </form>
                    </div>
                {% for activity in groupactivities %}
                    <div class="col-lg-10" style="top:15px">
    <div class="col-lg-10 list-group">
        <a href="/activity_detail/{{ activity.id }}/" class="list-group-item active">
            <h4 class="list-group-item-heading">{{activity.name}}</h4>
            <h5 class="list-group-item-heading">{{activity.start_time}}</h5>
        </a>
        <div class="list-group-item">
            <h4 class="list-group-item-heading">
                <span class="glyphicon glyphicon-users"></span>{{activity.group}}</h4>
            <h4 class="list-group-item-heading">
                <span class="glyphicon glyphicon-map-marker" aria-hidden:true></span>{{activity.place}}</h4>
            <p class="list-group-item-text">{{activity.explanation}}</p>
        </div>
        {% if activity.status == "already_in" %}
             <button type="submit" class="btn btn-md pull-right disabled" style="position:relative;top:4px">已参加</button>
        {% endif %}
        {% if activity.status == "expired" %}
             <button type="submit" class="btn btn-md pull-right disabled" style="position:relative;top:4px">已过期</button>
        {% endif %}
        {% if activity.status == "available" %}
        <form role="form" method="post" action="">
            <input type="hidden" name="activity_id" value={{activity.id}} />
            <input type="hidden" name="form_type" value="apply_activity" />
            <button type="submit" class="btn btn-md btn-danger pull-right" style="position:relative;top:4px">申请参加</button>
        </form>
        {% endif %}
    </div>
</div>
                {% endfor %}
                </div>
{% include "footer.html" %}