{% include "header.html" %}
	    	<div class="col-lg-6 col-lg-offset-1 col-sm-7" style="padding:1% 25px 1% 5%;">
                {% for request in requests %}
                    {% if request.type == 'notice' %}
                    <div class="col-lg-10">
                        <div class="col-lg-10 list-group">
                            {% if request.status == 'unread' %}
                            <a href="#" class="list-group-item active"><h5 class="list-group-item-heading">{{request.title}} {{request.time}}</h5></a>
                            {% else %}
                            <a href="#" class="list-group-item disabled"><h5 class="list-group-item-heading">{{request.title}} {{request.time}}</h5></a>
                            {% endif %}
                            <a href="#" class="list-group-item">
                                <h5 class="list-group-item-text">{{request.content}}</h5>
                            </a>
                            <form name="send_back" role="form" method="post" action="">
                                <input type="hidden" name="request_id" value={{request.id}}>
                                {% if request.status == 'unread' %}
                                <button type="submit" class="btn btn-primary btn-md pull-right">我知道了<span class="glyphicon glyphicon-ok"></span></button>
                                {% else %}
                                <a href="#" class="list-group-item">
                                    <h5 class="list-group-item-text">已读</h5>
                                </a>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-lg-10">
                        <div class="col-lg-10 list-group">
                            {% if request.status == 'unread' %}
                            <a href="#" class="list-group-item active"><h5 class="list-group-item-heading">{{request.title}} {{request.time}}</h5></a>
                            {% else %}
                            <a href="#" class="list-group-item disabled"><h5 class="list-group-item-heading">{{request.title}} {{request.time}}</h5></a>
                            {% endif %}
                            <a href="#" class="list-group-item">
                                <h5 class="list-group-item-text">{{request.content}}</h5>
                            </a>
                            <form name="send_back" id="invitation" role="form" method="post" action="">
                                <input type="hidden" name="request_id" value={{request.id}}>
                                <input type="hidden" id={{request.id}} name="reply" value="">
                                {% if request.status == 'unread' %}
                                <button onclick="reject('#'+{{request.id}})" type="submit" class="btn btn-primary btn-md pull-right">拒绝<span class="glyphicon glyphicon-remove"></span></button>
                                <button onclick="accept('#'+{{request.id}})" type="submit" class="btn btn-danger btn-md pull-right">接受<span class="glyphicon glyphicon-ok"></span></button>
                                {% else %}
                                    {% if request.status == 'accept' %}
                                        <a href="#" class="list-group-item">
                                            <h5 class="list-group-item-text">已接受</h5>
                                        </a>
                                    {% else %}
                                        <a href="#" class="list-group-item">
                                            <h5 class="list-group-item-text">已拒绝</h5>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </form>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
	    	</div>
	    	<div class="col-lg-2 col-sm-3">
	    		<p>留着以后用=。=  还没时间做</p>
	    	</div>
{% include "footer.html" %}