<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<title>约不约</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/staticfiles/js/jquery.js"></script>
    <link href="/staticfiles/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/staticfiles/css/font-awesome.min.css" rel="stylesheet">
    <link href="/staticfiles/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen" />
    <link href="/staticfiles/css/left_nav.css" rel="stylesheet" />
    <link href="/staticfiles/css/chat.css" rel="stylesheet" />
    <script type="text/javascript" src="/staticfiles/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/staticfiles/js/accept-or-reject.js" charset="UTF-8"></script>
</head>
<body style="font-family:'Microsoft YaHei'">
    <!-- 导航栏 -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header navbar-static-top">
            <a class="navbar-brand" href="/welcome/" style="font-size:2.5em">约不约</a>
        </div>
        <a class="navbar-brand navbar-right" href="#" style="font-size:1.5em">  </a>
    </nav>

    <!-- 工具栏 -->
    <div class="container" style="width:100%;padding-left:5px;padding-right:5px;">
	    
    <script>
        {% for alrt in alerts %}
            alert("{{ alrt }}");
        {% endfor %}
    </script>
	
	<div style="width:100%;height:100%;position:fixed;z-index: 8886;top: 0px;left: 0px;background: skyblue;filter: alpha(Opacity=30); -moz-opacity:0.30;opacity:0.30;">
	</div>
	<div style="z-index: 88888;width:50%;height:50%;position:fixed;top:25%;left:25%;background-color:white;font-size:2em;text-align:center;padding-top:5%;border-radius:10px">
	注册成功，将在<div id="time" style="font-size:3em"></div>后进入登录页面，或者请点击<a href="/login/">这里</a></div>
	
	<script language="javascript" type="text/javascript">
		var t = 4;  
	//显示倒数秒数  
	function showTime(){  
		t -= 1;  
		document.getElementById('time').innerHTML= t + '秒';  
		if(t==0){  
			location.href='/login/';  
		}  
		//每秒执行一次,showTime()  
		setTimeout("showTime()",1000);  
	}  
	showTime();
	</script>
	
</body>
</html>