{% if request.type == 'group_invitation' %}
								<div class="list-group-item">
									<a href="#" class="list-group-item disabled"><h5 class="list-group-item-heading">{{request.time}}</h5></a>
									<a href="/user_info/{{request.poster.id}}/">{{request.poster.nickname}}</a>
									邀请你加入群
									<a href="/group_info/{{request.goal}}/">{{request.target}}</a>
								</div>
								{% endif %}
								{% if request.type == 'activity_invitation' %}
								<div class="list-group-item">
									<a href="#" class="list-group-item disabled"><h5 class="list-group-item-heading">{{request.time}}</h5></a>
									<a href="/user_info/{{request.poster.id}}/">{{request.poster.nickname}}</a>
									邀请你加入活动
									<a href="/activity_detail/{{request.goal}}/">{{request.target}}</a>
								</div>
								{% endif %}
								{% if request.type == 'group_application' %}
								<div class="list-group-item">
									<a href="#" class="list-group-item disabled"><h5 class="list-group-item-heading">{{request.time}}</h5></a>
									<a href="/user_info/{{request.poster.id}}/">{{request.poster.nickname}}</a>
									申请加入群
									<a href="/group_info/{{request.goal}}/">{{request.target}}</a>
								</div>
								{% endif %}
								{% if request.type == 'friend_application' %}
								<div class="list-group-item">
									<a href="#" class="list-group-item disabled"><h5 class="list-group-item-heading">{{request.time}}</h5></a>
									<a href="/user_info/{{request.poster.id}}/">{{request.poster.nickname}}</a>
									申请添加您为好友
								</div>
								{% endif %}
								{% if request.type == 'activity_application' %}
								<div class="list-group-item">
									<a href="#" class="list-group-item disabled"><h5 class="list-group-item-heading">{{request.time}}</h5></a>
									<a href="/user_info/{{request.poster.id}}/">{{request.poster.nickname}}</a>
									申请加入活动
									<a href="/activity_detail/{{request.goal}}/">{{request.target}}</a>
								</div>
								{% endif %}