<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<title>约不约</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/staticfiles/js/jquery.js"></script>
    <link href="/staticfiles/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/staticfiles/css/font-awesome.min.css" rel="stylesheet">
    <link href="/staticfiles/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen" />
    <link href="/staticfiles/css/left_nav.css" rel="stylesheet" />
    <link href="/staticfiles/css/chat.css" rel="stylesheet" />
    <script type="text/javascript" src="/staticfiles/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/staticfiles/js/accept-or-reject.js" charset="UTF-8"></script>
</head>
<body style="font-family:'Microsoft YaHei'">
    <!-- 导航栏 -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header navbar-static-top">
            <a class="navbar-brand" href="/welcome/" style="font-size:2.5em">约不约</a>
        </div>
        <a class="navbar-brand navbar-right" href="#" style="font-size:1.5em">  </a>
        <a class="navbar-brand navbar-right" href="#" style="font-size:1.5em">注册</a>
        <a class="navbar-brand navbar-right" href="#" style="font-size:1.5em">登录</a>
    </nav>

    <!-- 工具栏 -->
    <div class="container" style="width:100%;padding-left:5px;padding-right:5px;">
	    <div class="row">
	    	
            <div class="col-lg-8 col-lg-offset-2">
                <h2>活动列表</h2>
                    {% include "search_activity.html" %}
                {% for activity in activities %}
                    <div class="col-lg-10" style="top:15px">
                        <div class="list-group" style="width:30%;position:relative;float:left;padding-right:5px;padding-left:5px">
                            <div style="width:100%;height:400px;position:relative;float:left;">
                                <a href="/login/" ><div>
                                    <img class="img-responsive" src="/{{activity.img}}/"/>
                                </div></a>
                                <a href="/login/" class="list-group-item active">
                                    <h4 class="list-group-item-heading">{{activity.name}}</h4>
                                    <h5 class="list-group-item-heading">{{activity.start_time.year}}年{{activity.start_time.month}}月{{activity.start_time.day}}日 {{activity.start_time.hour}}:{% if activity.start_time.minute < 10 %}0{% endif %}{{activity.start_time.minute}}</h5>
                                </a>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">
                                        <span class="glyphicon glyphicon-map-marker" aria-hidden:true></span>{{activity.place}}</h4>
                                    <p class="list-group-item-text">{{activity.explanation}}</p>
                                </div>
                                {% if activity.status == "already_in" %}
                                     <button type="submit" class="btn btn-md pull-right disabled" style="position:relative;top:4px">已参加</button>
                                {% endif %}
                                {% if activity.status == "expired" %}
                                     <button type="submit" class="btn btn-md pull-right disabled" style="position:relative;top:4px">已过期</button>
                                {% endif %}
                                {% if activity.status == "available" %}
                                <form role="form" method="post" action="">
                                    <input type="hidden" name="activity_id" value={{activity.id}} />
                                    <input type="hidden" name="form_type" value="apply_activity" />
                                    <button type="submit" class="btn btn-md btn-danger pull-right" style="position:relative;top:4px">申请参加</button>
                                </form>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                {% endfor %}
               </div>
{% include "footer.html" %}